<!DOCTYPE html>
<html lang="en">
    <%- include('./layouts/header') %>
    <body>
        <div id="users" class="crud">
            <%- include('./layouts/nav-primary') %>
            <%- include('./layouts/nav-secondary') %>
            <%- include('./layouts/main') %>

            <%- include('./layouts/modal') %>
        </div>
    </body>
</html>