<select id="filter" name="filter">
    <option value="active">Filter by: Active</option>
    <option value="inactive">Filter by: Inactive</option>
    <option value="no-filter" selected>No Filter</option>
</select>
<button id="create" class="btn" href="#">New User</button>
<table>
    <thead>
        <tr>
            <th>Img</th>
            <th><img src="./assets/arrow-down-arrow-up.svg"/>Username</th>
            <th><img src="./assets/arrow-down-arrow-up.svg"/>Given Name</th>
            <th><img src="./assets/arrow-down-arrow-up.svg"/>Family Name</th>
            <th><img src="./assets/arrow-down-arrow-up.svg"/>Contact</th>
            <th><img src="./assets/arrow-down-arrow-up.svg"/>Address</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr class="row row:hover" data-created="<%- user.createdAt %>" data-updated="<%- user.updatedAt %>" data-status="<%- user.status %>">
                <td data-id="profile" data-value="<%= user.profile.url %>?t=<%= user.updatedAt.getTime() %>"><img src="<%= user.profile.url %>?t=<%= user.updatedAt.getTime() %>" alt="Avatar"></td>
                <td data-id="username" data-value="<%= user.username %>"><%= user.username %></td>
                <td data-id="givenName" data-value="<%= user.givenName %>"><%= user.givenName %></td>
                <td data-id="familyName" data-value="<%= user.familyName %>"><%= user.familyName %></td>
                <td data-id="contact" data-value="<%= user.contact %>"><%= user.contact %></td>
                <td data-id="address" data-value="<%= user.address %>"><%= user.address %></td>
            </tr>            
        <% }) %>
    </tbody>
    <tfoot></tfoot>
</table>
<%- include('./partials/manage/modal', {
    form: `
        <header></header>
        
        <form action='/users/store' method='POST' id="data" enctype="multipart/form-data">
            <fieldset id="file">
                <legend>Profile</legend>
                <img src="./assets/image-solid-full.svg" alt="Avatar"></img> <!-- temp image -->
                <input type="file" id="profile" name="profile">
            </fieldset>
            <div>
                <fieldset id="info">
                    <legend>Info</legend>
                    <div>
                        <label for="username">Username</label>
                        <span class="validation-error" data-id="username"></span>   <!-- Username Validation Output -->
                        <input type="text" id="username" name="username" autocomplete="username" data-id="username" data-type="info">
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <span class="validation-error" data-id="password"></span>   <!-- Password Validation Output -->
                        <input type="password" id="password" name="password" autocomplete="current-password" data-id="password" data-type="info">
                    </div>
                    <div>
                        <label for="given-name">Given Name</label>
                        <span class="validation-error" data-id="givenName"></span>   <!-- Given Name Validation Output -->
                        <input type="text" id="given-name" name="givenName" autocomplete="given-name" data-id="givenName" data-type="info">
                    </div>
                    <div>
                        <label for="family-name">Family Name</label>
                        <span class="validation-error" data-id="familyName"></span>   <!-- Family Name Validation Output -->   
                        <input type="text" id="family-name" name="familyName" autocomplete="family-name" data-id="familyName" data-type="info">
                    </div>
                    <div>
                        <label for="contact">Contact</label>
                        <span class="validation-error" data-id="contact"></span>   <!-- Contact Validation Output -->
                        <input type="text" id="contact" name="contact" autocomplete="mobile" data-id="contact" data-type="info">
                    </div>
                    <div>
                        <label for="address">Address</label>
                        <span class="validation-error" data-id="address"></span>   <!-- Address Validation Output -->
                        <input type="text" id="address" name="address" autocomplete="address-line1" data-id="address" data-type="info">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Status</legend>
                    <label for="status">Current Status</label>
                    <select id="status" name="status" data-selected="active" required>
                        <option value="active" selected>Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </fieldset>
            </div>
            <div>
                <button type="submit" id="save" class="btn">Save</button>
                <button type="button" id="delete" class="btn">Delete</button>
            </div>
        </form>
    `
}) %>